In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('Mahindra_Employee_Reviews_from_AmbitionBox.csv')

# Audit Outputs
print("--- DF Shape ---")
print(df.shape)

print("\n--- DF Head ---")
print(df.head())

print("\n--- DF Info ---")
df.info()

print("\n--- Missing Values Audit ---")
print(df.isna().sum().sort_values(ascending=False))

print("\n--- Duplicate Rows Count ---")
print(f"Total Duplicates: {df.duplicated().sum()}")

--- DF Shape ---
(8614, 14)

--- DF Head ---
                           Title                  Place   Job_type  \
0                      Team Lead                   Pune     Intern
1                    Back Office                 Mumbai  Full Time
2                 Deputy Manager    Nashik, Maharashtra  Full Time
3                         Intern                 Mumbai     Intern
4  Assistant Manager Maintenance  Igatpuri, Maharashtra  Full Time

                                     Department        Date  Overall_rating  \
0  Operations, Maintenance & Support Department  6 Sep 2023             2.0
1                        Back Office Department  5 Sep 2023             3.0
2  Operations, Maintenance & Support Department  4 Sep 2023             5.0
3              Accounting & Taxation Department  2 Sep 2023             5.0
4  Operations, Maintenance & Support Department  2 Sep 2023             5.0

   work_life_balance  skill_development  salary_and_benefits  job_security  \
0                1.0                2.0                  1.0           4.0
1                3.0                3.0                  2.0           4.0
2                4.0                4.0                  5.0           4.0
3                4.0                5.0                  2.0           5.0
4                5.0                5.0                  1.0           5.0

   career_growth  work_satisfaction  \
0            1.0                1.0
1            5.0                2.0
2            4.0                3.0
3            5.0                5.0
4            4.0                1.0

                                               Likes  \
0  Famous MNC company, work experience will be va...
1  Working of RBI GUIDE LINE & COMPANY NORMS WORK...
2  No boundaries for Learning,No obstacles for do...
3  Its working environment, along with responsibi...
4  Freedom of showcase your skill. And main thing...

                                            Dislikes
0  Very Toxic work culture, poor work life balanc...
1  कंपनी केवल बड़े अधिकारियों को facility , salar...
2  Career growth - Even after good performance co...
3  Its working enviroment, along with responsibil...
4  Promotion/appraisal is not as per skill. Only ...

--- DF Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8614 entries, 0 to 8613
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                8098 non-null   object
 1   Place                7571 non-null   object
 2   Job_type             2791 non-null   object
 3   Department           6366 non-null   object
 4   Date                 8102 non-null   object
 5   Overall_rating       8072 non-null   float64
 6   work_life_balance    8587 non-null   float64
 7   skill_development    8582 non-null   float64
 8   salary_and_benefits  8567 non-null   float64
 9   job_security         8564 non-null   float64
 10  career_growth        8555 non-null   float64
 11  work_satisfaction    8543 non-null   float64
 12  Likes                7264 non-null   object
 13  Dislikes             6957 non-null   object
dtypes: float64(7), object(7)
memory usage: 942.3+ KB

--- Missing Values Audit ---
Job_type               5823
Department             2248
Dislikes               1657
Likes                  1350
Place                  1043
Overall_rating          542
Title                   516
Date                    512
work_satisfaction        71
career_growth            59
job_security             50
salary_and_benefits      47
skill_development        32
work_life_balance        27
dtype: int64

--- Duplicate Rows Count ---
Total Duplicates: 229

In [2]:
# Create a copy for cleaning
df_clean = df.copy()

# 1. Action: Remove duplicates (Additional Action 1)
df_clean = df_clean.drop_duplicates()

# 2. Action: Fix Datatype - Date to datetime (Mandatory Action 1)
df_clean['Date'] = pd.to_datetime(df_clean['Date'], errors='coerce')

# 3. Action: Handle Missing - Median for numeric (Mandatory Action 2a)
num_cols = df_clean.select_dtypes(include=[np.number]).columns
df_clean[num_cols] = df_clean[num_cols].fillna(df_clean[num_cols].median())

# 4. Action: Handle Missing - "Unknown" for text/categorical (Mandatory Action 2b)
cat_cols = df_clean.select_dtypes(include=['object']).columns
df_clean[cat_cols] = df_clean[cat_cols].fillna("Unknown")

# 5. Action: Clean text columns - Strip & Title case (Mandatory Action 3)
df_clean['Title'] = df_clean['Title'].str.strip().str.title()
df_clean['Place'] = df_clean['Place'].str.strip().str.title()
df_clean['Department'] = df_clean['Department'].str.strip().str.title()

# 6. Action: Rename columns to clean snake_case (Additional Action 2)
df_clean.columns = [col.lower().replace(" ", "_") for col in df_clean.columns]

# Show missing values before and after (Final Check)
print("\n--- Total Missing Values After Cleaning ---")
print(df_clean.isna().sum().sum()) 
# Note: remaining NaNs might exist in 'date' if parsing failed; we drop them:
df_clean = df_clean.dropna(subset=['date'])

--- Total Missing Values After Cleaning ---
1065

In [3]:
# 1. Extraction: Review Year from Date
df_clean['review_year'] = df_clean['date'].dt.year.astype(int)

# 2. Conditional Logic: Satisfaction Flag (Mandatory)
df_clean['is_high_satisfaction'] = df_clean['overall_rating'] >= 4.0

# 3. Mapping/Dictionary: Create a Region Category (Simplified)
def categorize_role(title):
    if 'Manager' in title or 'Lead' in title:
        return 'Management'
    elif 'Intern' in title or 'Trainee' in title:
        return 'Entry Level'
    else:
        return 'Professional'

df_clean['role_category'] = df_clean['title'].apply(categorize_role)

print("\n--- New Columns Preview ---")
print(df_clean[['review_year', 'is_high_satisfaction', 'role_category']].head())

--- New Columns Preview ---
   review_year  is_high_satisfaction role_category
0         2023                 False    Management
1         2023                 False  Professional
2         2023                  True    Management
3         2023                  True   Entry Level
4         2023                  True    Management

In [4]:
print("\n--- Generated Insights ---")

# 1. groupby().agg() - Avg ratings per role category
insight1 = df_clean.groupby('role_category')['overall_rating'].agg(['mean', 'count'])
print(f"Insight 1: The average rating for each role tier is:\n{insight1}")

# 2. sort_values() - Top 5 departments by work-life balance
insight2 = df_clean.groupby('department')['work_life_balance'].mean().sort_values(ascending=False).head(5)
print(f"\nInsight 2: The top 5 departments for Work-Life Balance are:\n{insight2}")

# 3. value_counts() - Distribution of Job Types
insight3 = df_clean['job_type'].value_counts()
print(f"\nInsight 3: The distribution of employment types is:\n{insight3}")

# 4. pivot_table() - Average career growth by year and role category
insight4 = df_clean.pivot_table(index='review_year', columns='role_category', values='career_growth', aggfunc='mean')
print(f"\nInsight 4: Career growth trends over the years:\n{insight4.tail()}")

# 5. Filtering - Highly satisfied employees in Management
insight5_count = df_clean[(df_clean['role_category'] == 'Management') & (df_clean['overall_rating'] == 5.0)].shape[0]
print(f"\nInsight 5: There are {insight5_count} managers who gave a perfect 5.0 overall rating.")

--- Generated Insights ---
Insight 1: The average rating for each role tier is:
                   mean  count
role_category
Entry Level    4.335097    567
Management     4.150000   2820
Professional   4.203153   3933

Insight 2: The top 5 departments for Work-Life Balance are:
department
45Jph Paintshop G Block Department    5.0
टिंकू  Department                     5.0
Zirakpur Department                   5.0
Zaheerabd Department                  5.0
80% Department                        5.0
Name: work_life_balance, dtype: float64

Insight 3: The distribution of employment types is:
job_type
Unknown        4758
Full Time      2418
Contractual      60
Intern           53
Part Time        28
Freelancer        3
Name: count, dtype: int64

Insight 4: Career growth trends over the years:
role_category  Entry Level  Management  Professional
review_year
2019              4.145455    4.002695      4.101597
2020              4.275362    4.010526      3.985782
2021              4.282051    3.802432      4.079505
2022              4.272727    3.902829      4.099567
2023              4.093750    3.739403      4.035176

Insight 5: There are 1423 managers who gave a perfect 5.0 overall rating.

In [5]:
topath = r"C:\Users\Kiran S\OneDrive\Desktop\vishwas assignment 2.csv"
df.to_csv(topath,index=False)